* {
  box-sizing: border-box;
}

html {
  font: 5vmin/1.3 Serif;
  background: #141414;
}

body {
  overflow: hidden;
}

.app {
  text-align: center;
  opacity: .95;
  top: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  inline-size: 100vw;
  block-size: 100vh;
  font-size: 52px;
  position: absolute;
}

.app-logo {
  max-block-size: 33vh;
}


@media (min-width: 800px) {
  .app-logo {
    max-block-size: 50vh;
  }
}

.app-header {
  opacity: .95;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  inline-size: 100%;
}

.app-link {
  color: #61dafb;
}

main {
  block-size: 100vh;
  color: #fff;
  text-align: start;
  font-size: 24px;
  padding: 1rem;
  overflow-y: scroll;
  inline-size: auto;
}

article {
  background-color: black;
  border-radius: 12px;
  position: relative;
  padding: 70px;
}

.close {
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 25px;
  border: 4px solid white;
  border-radius: 50%;
  line-height: 30px;
  width: 40px;
  text-align: center;
  height: 40px;
}

.close:hover {
  font-weight: bold;
}

.portfolio-item {
  background-color: black;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  padding: 70px;
  text-align: start;
  overflow-y: scroll;
  z-index: 99;
}

.portfolio-item a {
  color: white !important;
  text-decoration: none;
}

@media (max-width: 800px) {
  .portfolio-body {
    margin-block-end: 20vh;
  }
}

.listing ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}

@media (max-width: 1699px) {
  .listing ul {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1350px) {
  .listing ul {
    grid-template-columns: 1fr;
  }
}

.listing>ul>li>img {
  max-width: 250px;
}

.listing li {
  list-style: none;
  cursor: pointer;
  min-block-size: 350px;
  text-align: center;
}


.footer {
  font-size: 11px;
  margin-block-start: 10vh;
  margin-block-end: 5px;
}


@media (max-width: 1200px) {
  body {
    overflow: inherit;
  }

  .app {
    grid-template-columns: 1fr;
    max-block-size: 100vh;
    overflow: hidden;
  }

  article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    width: 100%;
    margin: 0;
    overflow-y: scroll;
    max-block-size: 100vh;
    padding-block-end: 200px;
    border-radius: 0;
    min-block-size: 100vh;
  }

  .app-header {
    background-color: transparent;
    justify-content: flex-start;
  }

  .close {
    top: 25px;
    right: 25px;
    z-index: 20;
  }

  section.content {
    background-color: black;
    opacity: 0.95;
    border-radius: 12px;
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
  }

  .portfolio-item {
    padding: 20px;
  }

  .portfolio-item img {
    width: 100%;
  }

  header p {
    text-shadow: 0 0 15px #000;
    box-shadow: 10px 10px 50px #000;
    background: rgba(0, 0, 0, .6);
    padding: 10px;
    border-radius: 5px;
  }

  .footer {
    margin-block-start: 50px;
  }
}

header {
  animation: fadein 3s;
}

article {
  animation: fadein 1s;
}

section {
  animation: fadein 1s;
}

canvas {
  animation: fadein 4s;
}


@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

button,
button:after {
  width: 150px;
  height: 46px;
  line-height: 48px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #222 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #009cf6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

header button {
  margin-bottom: 5px;
}

button:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'NICKLZ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #009cf6 3%, #009cf6 5%, #ffffff 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #009cf6;
  clip-path: var(--slice-0);
}

button:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
